main {
  position: relative;
  overflow: hidden;

  background: linear-gradient(
    100deg,
    rgb(75, 74, 239) 62%,
    rgb(250, 250, 255) 38%
  );
  height: 100dvh;
}
.background-top {
  width: 62%;
  position: absolute;
  top: 0;
  left: -5%;
  z-index: -1;
}
.background-bottom {
  width: 62%;
  position: absolute;
  bottom: -15%;
  left: -2%;
  z-index: -1;
}
.background-shape {
  position: absolute;
  width: 22%;
  left: 20%;
}

.hero-section {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0 0 4.5rem;
}
.description {
  flex: 1;
  max-width: 500px;
}
.description--title {
  padding: 6px 10px;
  background-color: #ffffff;
  border-radius: 6px;
  color: #606060;
}
.description h1 {
  font-size: 3rem;
  font-weight: 800;
  color: #ffffff;
  margin: 34px 0;
}
.description p {
  color: #ffffff;
  font-size: 1.5rem;
  margin-bottom: 40px;
}
.divider {
  width: 65px;
  height: 5px;
  border-radius: 4px;
  background-color: #3adad9;
  margin: 40px 0;
}
.cta--button {
  padding: 1rem 2rem;
  background-color: #ffca1d;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
}
hero-container {
  flex: 1;
}
.hero-img {
  max-width: 850px;
}
.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(75, 74, 239, 0.5);
  visibility: hidden;
  z-index: -10;
}
.modal-container {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  width: 30%;
  height: 30%;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 0 #fff;
}
.close-icon {
  width: 30px;
  align-self: flex-start;
  cursor: pointer;
}
.modal-container h3 {
  width: 100%;
  display: flex;
  justify-content: center;
}
.open-modal {
  visibility: visible;
  z-index: 0;
}
