main {
  background-image: url("../image/background.png");
  background-size: cover;
  min-height: 100vh;
}

.background-shape {
  position: absolute;
  width: 22%;
  left: 20%;
}

.hero-section {
  display: flex;
  justify-content: space-between;
  padding: 0 5rem;
}
.description {
  flex: 1;
  max-width: 500px;
  height: fit-content;
}
.description--title {
  padding: 6px 10px;
  background-color: #ffffff;
  border-radius: 6px;
  color: #606060;
}
.description h1 {
  font-size: 3rem;
  font-weight: 800;
  color: #ffffff;
  margin: 34px 0;
}
.description p {
  color: #ffffff;
  font-size: 1.5rem;
  margin-bottom: 40px;
}
.divider {
  width: 65px;
  height: 5px;
  border-radius: 4px;
  background-color: #3adad9;
  margin: 40px 0;
}
.cta--button {
  padding: 1rem 2rem;
  background-color: #ffca1d;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
}
hero-container {
  flex: 1;
}
.hero-img {
  max-width: 750px;
}
