header {
  display: flex;
  justify-content: space-between;
  padding: 4.5rem;
}
.nav__logo {
  max-width: 202px;
  display: flex;
  align-items: end;
}
.logo {
  width: 100%;
}
nav {
  width: 65%;
  display: flex;
  justify-content: space-between;
}

.nav__menu {
  display: flex;
  font-size: 1rem;
  gap: 2.5em;
  align-items: center;
}
.nav__cta {
  display: flex;
  gap: 1em;
  align-items: center;
}
a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.sign-up-btn {
  padding: 15px 42px;
  background-color: #ffca1d;
  color: #000;
  border-radius: 10px;
  font-weight: 600;
}
.login-btn {
  color: #757575;
}

.dropdown-icon {
  width: 10px;
}
.dropdown {
  display: flex;
  align-items: center;
  gap: 5px;
}
.active {
  color: red;
}
